@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-main-dark: #1b0f4b;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Estilos para el Wrapper */
.wrapper {
    display: grid; /* Hacer que sea una grilla */
    grid-template-columns: 1fr 4fr; /* tamaños de las columnas de la grilla */
    background-color: var(--clr-main); /* Color de fondo */
}

/* Estilos de la barra lateral izquierda */
aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);

    /************************************/
    /* Para que se mantenga en pantalla */
    position: sticky; 
    top: 0;
    height: 100vh;
    /************************************/
    
    /*************************************************/
    /* Para mostrarlos de froma horizontal separadps */
    display: flex; /* Mostrarlos seguidos */
    flex-direction: column; /* los pone en horizontal */
    justify-content: space-between; /*los separa entre ellos*/
    /*************************************************/
}

/* Estilos del logo */
.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

/********************/
/* Estilos del Menú */
.menu {
    display: flex; /* Mostrarlos seguidos */
    flex-direction: column; /* los pone en horizontal */
    gap: 0.5rem; /* es el espacio entre filas y columnas dentro de la cuadrícula */
}

.bi-hand-index-thumb-fill,
.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.contador {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.25rem;
    border-radius: 0.25rem;
}


.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 0.85rem;
    align-items: center;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.boton-carrito {
    margin-top: 2rem;
}

.boton-carrito.active .contador {
    background-color: var(--clr-main);
    color: var(--clr-white);
}
/********************/

/* Estilos del footer */
.texto-footer {
    color: var(--clr-main-dark);
    font-size: 0.85rem;
}

/* Estilos para el main */
main {
    background-color: var(--clr-white);
    margin: 1rem; /* Genera un margen de distancia de los demas elementos */
    margin-left: 0;
    border-radius: 2rem; /* redondea los bordes */
    padding: 3rem; /* ajusta el relleno del elemento */
}

/* Estilos para el titulo principañ */
.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

/* Estilos para el contenedor de productos */
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* Estilos para el imagenes de los productos */
.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

/* Estilos para el detalles de los productos */
.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex; /* Mostrarlos seguidos */
    flex-direction: column; /* los pone en horizontal */
    gap: 0.25rem;
}
/************************************/
/* Estilos para el agregar producto */
.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.4rem;
    text-transform: uppercase; /* pone en mayus el texto */
    border-radius: 1rem;
    cursor: pointer; /* cambia a el mause al seleccionar */
    border: 2px solid var(--clr-white); /* pone un borde solido al botón */
    transition: background-color 0.2s, color 0.2s; /* Efecto de colores al poner el mause arriba */
}
.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}
/************************************/


/***************************/
/* Estilos para el carrito */
.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.carrito-vacio, 
.carrito-comprado {
    color: var(--clr-main);
}

/* Carrito Productos */
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    align-items: center;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: 0.75rem;
}
.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;  
}

.carrito-acciones-derecha {
    display: flex;
    
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    gap: 1rem;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
}

.disabled{
    display: none;
}
/***************************/

